html, body 
{background-color:black;}
p{color:peachpuff}
p{font-style:normal}
p{font-size:30px}
p{position:absolute;
top:20px;
right:200px;
width:300px;
border:10px solid peachpuff}

  margin: ;
  padding:;
}

canvas {
  display: block;
}
